<a href="{{ itemData.url }}">
  <div class="normal-text flex flex-col">
    @if(itemData.bigPictureUrl){
    <img src="{{ itemData.bigPictureUrl }}" />
    } @if(itemData.mediumPictureUrl){
    <img src="{{ itemData.mediumPictureUrl }}" />
    } @if (itemData.type) {
    <span class="text-gray-600 tracking-wide">{{ itemData.type }}</span>
    } @if(itemData.date){
    <span class="tracking-wide">{{ itemData.date }}</span
    >}
    <h2 class="text-2xl font-semibold w-111 mt-5 underline-offset-3 hover:underline">
      {{ itemData.description }}
    </h2>
    @if (itemData.text) {
    <p>{{ itemData.text }}</p>
    }
  </div>
</a>
